{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

  <div class="row">
    <header class="header"> <h1 class="gameMode"> {{gameMode}}</h1> <h1> Score: {{score}}</h1></header>
    <div class="column2">
          <h2 class="label">{{country1}}</h2>
          <p class="info">{{country1Info}}</p>
    </div>

    <div class="column2">
      <h2 class="label">{{country2}}</h2>
      <p class="info">{{country2Info}}</p>
    </div>
  </div>
  <form action="/gameon" method="post">
    <input type="hidden" name="Guess" value="Higher"></input>
  <h2><button type="submit">Higher</button></h2>
</form>
<form action="/gameon" method="post">
  <input type="hidden" name="Guess" value="Lower"></input>
    <h2><button type="submit">Lower</button></h2>
  </form>

  <div class="footer">
    <h2><a class="nav-link" style="text-decoration: none" href="/">Change Game Mode</a></h2>
    <h2><a class="nav-link" style="text-decoration: none" href="/gameover">End Game</a></h2>
  </div>
  
{% endblock %}