{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="header">
    <h1>You Lose</h1>
    <p>You recieved a score of {}. That's below average...</p>
  </div>
  
  <div class="header">
    
        <!-- <img src="img_avatar.png" alt="Avatar"> -->
        <h2><a class="nav-link" style="text-decoration: none" href="/gameon">Play Again</a></h2>
        <h2><a class="nav-link" style="text-decoration: none" href="/">Change Game Mode</a></h2>
  </div>
  
  
{% endblock %}