{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

  <div class="row">
    <header class="header"> <h1> Score: {{score}}</h1></header>
    <div class="column2">
        <form action="/gameon" method="post">
          <input type="hidden" name="score" id="score" value="1"></input>
          <h2><button type="submit">Country 1</a></h2>
      </form>
    </div>

    <div class="column2">
      <h2><a class="nav-link" style="text-decoration: none" href="/gameon">Country 2</a></h2>
    </div>
  </div>

  <div class="footer">
    <h2><a class="nav-link" style="text-decoration: none" href="/">Change Game Mode</a></h2>
  </div>
  
{% endblock %}