{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

  <div class="row">
    <header class="header"> <h1> Score: {{score}}</h1></header>
    <div class="column2">
          <h2>Country 1</h2>
    </div>

    <div class="column2">
      <h2>Country 2</h2>
    </div>
  </div>
  <form action="/gameon" method="post"></form>
  <h2><button type="submit">Higher</button></h2>
    <h2><button type="submit">Lower</button></h2>
</form>

  <div class="footer">
    <h2><a class="nav-link" style="text-decoration: none" href="/">Change Game Mode</a></h2>
    <h2><a class="nav-link" style="text-decoration: none" href="/gameover">End Game</a></h2>
  </div>
  
{% endblock %}