{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="header">
    <h1>Country Comparator</h1>
    <p>Select a game mode to start playing.</p>
  </div>
  <form action="/" method="post">
  <div class="row">
    <div class="column3">
        <!-- <img src="img_avatar.png" alt="Avatar"> -->
       <h2><input type="hidden" name="gameModeIndex" value="1"><button type="submit">Population</button> </h2>
       <p>The total number of people residing in a nation. </p>
    </div>
</form>
    <form action="/" method="post">
    <div class="column3">
      <h2><input type="hidden" name="gameModeIndex" value="2"><button type="submit">Land Mass</button></h2>
      <p>The size of the country. Measured in square kilometers </p>
    </div>
</form>
<form action="/" method="post">
    <div class="column3">
      <h2><input type="hidden" name="gameModeIndex" value="3"><button type="submit">GDP</button> </h2>
      <p>Gross Domestic Product. Measured in Millions USD </p>
    </div>
</form> 
    <form action="/" method="post">
    <div class="column3">
        <h2><input type="hidden" name="gameModeIndex" value="4"><button type="submit">HDI</button></h2>
        <p> Human Development Index. Measured on a scale from 0-1. 1 being the most developed </p>
      </div>
    </form> 
      <form action="/" method="post">
      <div class="column3">
        <h2><input type="hidden" name="gameModeIndex" value="5"><button type="submit">National Debt</button> </h2>
        <p>The total amount of debt accumulated by the country. Measured in USD. </p>
      </div>
    </form> 
      <form action="/" method="post">
      <div class="column3">
        <h2><input type="hidden" name="gameModeIndex" value="6"><button type="submit">C02 Emissions</button></h2>
        <p>Annual Carbon Dioxide Emissions. Measured in kilotons of C02 per year.</p>
      </div>
    </form> 
      <form action="/" method="post">
      <div class="column3">
        <h2><input type="hidden" name="gameModeIndex" value="7"><button type="submit">Trade Balance</button> </h2>
        <p>The difference between the value of exports and imports. Measured in Million USD</p>
      </div>
    </form> 
      <form action="/" method="post">
      <div class="column3">
        <h2><input type="hidden" name="gameModeIndex" value="8"><button type="submit">Life Expectancy</button> </h2>
        <p>The average life expectancy. Measured in years.</p>
      </div>
    </form> 
      <form action="/" method="post">
      <div class="column3">
        <h2><input type="hidden" name="gameModeIndex" value="9"><button type="submit">Elevation</button></h2>
        <p>Elevation measures the height above or below sea level. Measured in meters</p>
      </div>
    </form> 
      <form action="/" method="post">
      <div class="column3">
        <h2><input type="hidden" name="gameModeIndex" value="10"><button type="submit">Military Expenditure</button> </h2>
        <p>The annual military/defence budget. Measured in Billions of USD</p>
      </div>
    </form> 
      <form action="/" method="post">
      <div class="column3">
        <h2><input type="hidden" name="gameModeIndex" value="11"><button type="submit">Annual Average Wage</button></h2>
        <p>The average wage of workers within a country. Measured in USD</p>
    </div> 
</form> 
    <form action="/" method="post">   
       <div class="column3">
        <h2><input type="hidden" name="gameModeIndex" value="12"><button type="submit">Population Density</button> </h2>
        <p>A measure of a nations population divided by its landmass. Measured in number of people per square kilometer</p>
      </div>
    </form>
    </div>
  
  
{% endblock %}