{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="header">
    <h1>Country Comparator</h1>
    <p>Select a game mode to start playing.</p>
  </div>
  
  <div class="row">
    <div class="column3">
        <!-- <img src="img_avatar.png" alt="Avatar"> -->
       <h2> <button type="submit">Population</button> </h2>
       <p>The total number of people presently residing in a nation. </p>
    </div>
    <div class="column3">
      <h2><a style="text-decoration: none" href="/gameon">Land Mass</a> </h2>
      <p>The size of the country, Measured in square kilometers </p>
    </div>
    
    <div class="column3">
      <h2><a href="/gameon">GDP</a> </h2>
      <p>Gross Domestic Product, Measured in Millions USD </p>
    </div>
    <div class="column3">
        <h2><a href="/gameon">HDI</a> </h2>
        <p> Human Development Indexed. Measured on a scale from 0-1. 1 being the most developed </p>
      </div>
      <div class="column3">
        <h2><a href="/gameon">National Debt</a> </h2>
        <p>The total amount of debt accumulated by the country. Measured in USD. </p>
      </div>
      <div class="column3">
        <h2><a href="/gameon">C02 Emissions</a> </h2>
        <p>Annual Carbon Dioxide Emissions. Measured in kilotons of C02 per year.</p>
      </div>
      <div class="column3">
        <h2><a href="/gameon">Trade Balance</a> </h2>
        <p>The difference between the value of exports and imports Measured in Million USD</p>
      </div>
      <div class="column3">
        <h2><a href="/gameon">Life Expectancy</a> </h2>
        <p>The average life expectancy. Measured in years.</p>
      </div>
      <div class="column3">
        <h2><a href="/gameon">Elevation</a> </h2>
        <p>Elevation measures the height above or below sea level, measured in meters</p>
      </div>
      <div class="column3">
        <h2><a href="/gameon">Military Expenditure</a> </h2>
        <p>The annual military/defence budget measured in Billions of USD</p>
      </div>
      <div class="column3">
        <h2><a href="/gameon">Annual Average Wage</a> </h2>
        <p>The average wage of workers within a country. Measured in USD</p>
    </div>     
       <div class="column3">
        <h2><a href="/gameon">Population Density</a> </h2>
        <p>A measure of a nations population divided by its landmass, measured in number of people per square kilometer</p>
      </div>
  </div>
  
  
{% endblock %}