{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="header">
    <h1>How to Play</h1>
    
  </div>
  <div style="text-align: center; margin-right: 100px; margin-left: 100px;">
    <p> Playing the Country Comparator is as easy as can be! When starting the game you will be shown two 
        countries and a statistic for the first country. You're job is to determine if the second countries 
        stat is higher or lower than the first country. If you guess right: congrats! You're score will go up 
        and you'll get to keep playing. Guess wrong and thats's GAME OVER. </p>
  </div>
  <div class="footer">
        <h2><button><a href="/">Back to Homescreen</a></h2>
  </div>
  
  
{% endblock %}
